In [ ]:
"""
1. ARİTMETİK OPERATÖRLER

+   -------------->   x + y
-   -------------->   x - y
*   -------------->   x * y
/   -------------->   x / y
%   -------------->   x % y (mod)
**   -------------->  x ** y
//   -------------->  x // y
"""

In [4]:
x = [1,2,3,4,5,6,7,8,9]
for i in x:
    if i%2==0:
        print(i)

2
4
6
8

In [5]:
a = 5
b = 10
a**b

9765625

In [7]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
"""
2. ATAMA OPERATÖRLERİ

=   ---------------->   x = 3
+=  --> x += 3    -->   x = x + 3
-=  --> x -= 3    -->   x = x - 3
*=  --> x *= 3    -->   x = x * 3
/=  --> x /= 3    -->   x = x / 3
%=  --> x %= 3    -->   x = x % 3
//=  --> x //= 3  -->   x = x // 3
**=  --> x **= 3  -->   x = x ** 3

"""

In [11]:
x = 3
y = 9

In [14]:
print(x == 3)
print(y == 8)
print(y != 8)

True
False
True

In [16]:
x = x + 3
print(x)
y += 3 # y=y+3
print(y)

9
12

In [ ]:
"""
3.MANTIKSAL OPERATÖRLER

and
or
not
------
is
is not
------
in
not in
------
&
|
^
~
------

4.KARŞILAŞTIRMA OPERATÖRLERİ

== --> 5 == 5 --> True
!= --> 5 != 7 --> True
>  --> 5 > 7 --> False
<  --> 5 < 7 --> True
>= --> 5 >= 7 --> False
<= --> 8 <= 7 --> False

"""

In [18]:
statement1 = True
statement2 = False
statement3 = statement1 and statement2
print(statement3)

False

In [20]:
statement1 = False
statement2 = False
statement3 = statement1 or statement2
print(statement3)

False

In [22]:
statement1 = False
statement2 = True
statement3 = statement1 or statement2
print(not(statement3))

False

In [25]:
# is - is not
x1 = 9
x2 = 10
x3 = 9
print(x1 is x3)
print(x1 is not x3)
print(x1 is not x2)

True
False
True

In [28]:
# in - not in

list1 = [1,2,3,4,5]
list2 = [7,8,9,1,2]

print(1 in list1)
print(8 in list1)

print(8 not in list2)

True
False
False